.content {
    @include max-size(1440px, auto);
    @include block_center;
    background-color: $background-color;

    &__button {
      &:hover {
        opacity: .8;
      }

      display: inline-block;
      @include font-f-w-s(
        $montserrat-font, 700, 16.67px,
        0, white, uppercase
      );
      background-color: $button-color;
      padding: 15px 24px;
      user-select: none;
      cursor: pointer;
      transition: .3s;
    }

    &__title {
      @include font-f-w-s(
        $amatic-font, 700, 33.33px,
        1px, $color-title
      );
    }

    &__text {
      @include font-f-w-s(
        $montserrat-font,400,20.83px,
        0, $color-primary
      );
    }
}