.content__frow {
  @include size(100%, 645px);
  background-color: $background-color;
  @include flex();
}

.content__title--frow {
  font-size: 54.17px;
}

.content__text--frow {
  padding: {
    top: 30px;
    bottom: 40px;
  }

  line-height: 35px;
}

.content__col--frow1 {
  @include size(65%, 100%);
  padding: {
    top: 180px;
    left: 250px;
    right: 40px;
  };
}

.content__col--frow2 {
    @include size(35%, 100%);
    padding: {
      top: 100px;
    };
  }