.footer {
  @include size(1440px, 590px);
  @include block_center;
  background-color: $background-color;

  &__nav {
    @include size(450px, auto);
    @include absolute(0,210px,70px, 0);
    line-height: 2.5;
    & a {
      transition: .2s;
      &:hover {
        opacity: 0.5;
      }
      display: inline-block;
      margin-right: 50px;
      @include link(
        uppercase, $color-title, $montserrat-font,
        700, 2px
      );
    }
  }

  &__container {
    @include max-size(100%, 525px);
    @include hero-img('../images/footer-img.png');
    position: relative;

    margin: {
      left: 55px;
      right: 55px;
    };
  }

  &__copyright {
    @include absolute(0,350px,20px, 0);
    color: #010101;
  }

  &__media {
    @include size(200px, 50px);
    @include flex(0,center,center);
    @include absolute(0,30px,10px, 0);

    &-link {
      @include size(42px);
      @include flex(0,center,center);

      & img {
        &:hover {
          background-color: transparent;
          border: 1px solid white;
          @include size(38px);
        }
        display: inline-block;
        border-radius: 40px;
        @include size(29px);
        background-color: $button-color;
        padding: 5px;
        transition: .2s;
      }
    }
  }
}