.header {
  @include size(100%, 657px);
  @include hero-img('../images/hero-img.png');
 
  /*  container component  */
  &__container {
    @include max-size(1440px, 100%);
    @include block_center;
    padding: {
      left: 70px;
      right: 70px;
    }
    position: relative;
  }

  /*  top-bar component  */
  &__top-bar {
    @include size(100%, auto);
    @include flex(row, space-between);
  }

  &__top-bar--padding {
    padding: {
      top: 35px;
    }
  }

  /*  logo component  */
  &__logo {
    @include size(20%, auto);
  }

  /*  nav component  */
  &__nav {
    @include size(auto);
  }

  &__tab--padding {
    padding: {
      top: 30px;
    }
  }

  &__link {
    @include link(uppercase);
    @include font-f-w-s(
      $montserrat-font, 600, 16.67px,
      2px
    );
    margin: {
      left: 25px;
      right: 25px;
    }

    &:hover {
      opacity: .5;
    }
  }

  /*  Prodcut brand component  */
  &__product-brand {
    // @include size(auto, auto);
    @include size(38%, auto);
    @include absolute(245px,0,0,-32px);
    // @include absolute(37%,0,0,-32px);
  }

  /*  Pet brand component  */
  &__pet {
    @include size(31%, auto);
    display: inline-block;
    @include absolute(0, 0px,-4px,0);
  }

  /*  Caption component  */
  &__caption {
    margin: {
      top: 60px;
      // left: 480px;
      left: 36%;
    }
    position: relative;

    &--style {
      @include font-f-w-s(
        $amatic-font,
        400, 41.67px, 0, $color-title
      );
    }

    & span {
      color: $color-bold;
      font-weight: 700;
    }

    & img {
      @include absolute(130px,0,0,-110px);
    }
  }
}