// Variables
$background-color: white;
$amatic-font: 'Amatic SC';
$montserrat-font: 'Montserrat';
$color-title: #452a31;
$color-bold: #0072a8;
$button-color: #2ea2d0;
$color-primary: #3d3d3d;
$color-footer: #ededf0;

// Importing the support package
@import 'mixin';
@import 'font';

// Importing the partials
@import 'header';
@import 'content';
@import 'our-story';
@import 'ingredient';
@import 'first-row';
@import 'second-row';
@import 'third-row';
@import 'footer';

// Layout style
.layout {
  @include size(100%, auto);
}

.alert {
  @include max-size(100%, 100vh);
  @include flex(0,center, center);
  padding: 0 20px;
  background-color: white;
  @include font-f-w-s($montserrat-font,0,20px,0,limegreen);
}