// Variables
$background-color: white;
$amatic-font: 'Amatic SC';
$montserrat-font: 'Montserrat';
$color-title: #452a31;
$color-bold: #0072a8;

// Importing the support package
@import 'mixin';
@import 'font';

// Importing the partials
@import 'header';

// Layout style
.layout {
  @include size(100%, auto);
}